/* color palette
#365F6B base color
#77E2FF light
#A2EBFF lighter
#BCE0EB gray
#A0B9C0 grayer
#2C3E42 darker
*/

/* Universal Styles */

/* Banner Section */

/* Navigation Section */

/* Bidding Section */

/* Accounting Table Section */

/* Footer Section */

body {
  font-family:Verdana, Tahoma, sans-serif;
}

h1,
h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.banner {
  color: white;
  background-color: #365F6B;
  padding: 20px;
}

h2 {
  color: #365F6B;
  background-color: lightgray;
  border: 2px solid #365F6B;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

p {
  text-align: center;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  border: 2px solid #365F6B;
}

th,
td {
  border: 1px solid black;
}

.container {
  background-color: #A0B9C0;
  padding: 10px 20px;
  padding-bottom: 20px;
  margin: 0 200px;
  border: 2px solid #2C3E42;
  border-radius: 20px;
}

#accounting {
  background-color: #A0B9C0;
  border: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  th, td {
    font-size: 10px;
  }

  .container {
    background-color: none;
    padding: none;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    background-color: none;
    padding: none;
    margin: auto;
  }
}
